.Navbar {
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgba(47, 13, 54, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
  width: 90vw;
  margin-top: 2rem;
  height: fit-content;
  border-radius: 1.2rem;
  z-index: 597;
  padding: 0.5rem 1rem;
  color: var(--font);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.18);
  position: fixed;
  top: 2%;
  left: 4%;
}

.logo {
  fill: var(--font);
  border-radius: 100rem;
  height: 7.4rem;
}

.timer {
  display: flex;
}

.timer-d {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media screen and (max-width: 910px) {
  .App {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .Navbar {
    margin: 0;
    flex-direction: column;
    width: 85vw;
    font-size: 0.65rem;
  }
  .logo {
    height: 5rem;
  }
}
